@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Rubik+Glitch&family=Rubik+Moonrocks&family=Rubik+Puddles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Send+Flowers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
* {
     margin: auto;
     padding: 0;
 }

 h1 {
     padding: 0.5em;
     text-align: center;
 }
 label{
    font-size:  20px;
 }

.font-ppal{
  font-family: 'Rubik Moonrocks', cursive;
}

#play{
    margin-left: auto;
    font-size: 18px;
    text-align: center   
}

 #cronometro {
     width: 200px;
     text-align: center;
 }

 #reloj {
     padding: 5px 10px;
     width: 170px;
     border: 1px solid black;
     font-weight: bold;
     font-size: x-large;
     text-align: center;
     margin: 4px;
 }

 #cronometro [type=button] {
     margin: 4px;
     font: normal 9pt arial;
 }
 