@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Rubik+Glitch&family=Rubik+Moonrocks&family=Rubik+Puddles&display=swap');

* {
     margin: auto;
     padding: 0;
 }

.resizable {
  resize: none;
  /* overflow: scroll;
  border: 1px solid black; */
}

 h1 {
     padding: 0.5em;
     text-align: center;
 }

.font-ppal{
  font-family: 'Rubik Moonrocks', cursive;
}

 #cronometro {
     width: 200px;
     text-align: center;
 }

 #reloj {
     padding: 5px 10px;
     width: 170px;
     border: 1px solid black;
     font-weight: bold;
     font-size: x-large;
     text-align: center;
     margin: 4px;
 }

 #cronometro [type=button] {
     margin: 4px;
     font: normal 9pt arial;
 }
 